<svg xmlns="http://www.w3.org/2000/svg" class="t4s-d-none">
      <symbol id="icon-molecule" viewBox="0 0 28 28" stroke="currentColor" stroke-width="1.2" fill="none"
          stroke-linecap="round" stroke-linejoin="round">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	  viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <g>
              	<defs>
              		<rect id="SVGID_1_" width="24" height="24"/>
              	</defs>
              	<clipPath id="SVGID_2_">
              		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
              	</clipPath>

              		<circle style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="4.914" cy="4.5" r="2"/>

              		<circle style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="18.914" cy="19.5" r="2"/>

              		<circle style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="18.586" cy="5.587" r="2.5"/>

              		<circle style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="9.914" cy="14.5" r="4"/>

              		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="8.125" y1="10.922" x2="5.807" y2="6.285"/>

              		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="12.742" y1="11.672" x2="16.913" y2="7.5"/>

              		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="12.633" y1="17.43" x2="17.152" y2="18.56"/>
              </g>
              </svg>
      </symbol>
      <symbol id="icon-leaf" viewBox="0 0 28 28" stroke="currentColor" stroke-width="1.2" fill="none"
          stroke-linecap="round" stroke-linejoin="round">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	  viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
  <g>
  	<defs>
  		<rect id="SVGID_1_" width="24" height="24"/>
  	</defs>
  	<clipPath id="SVGID_2_">
  		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
  	</clipPath>

  		<path style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
  		M7.661,2.475C6.945,2.474,6.277,2.859,5.921,3.48c-4.603,7.994,1.193,18.033,10.418,18.044c0.716,0.002,1.384-0.384,1.74-1.006
  		C22.683,12.524,16.887,2.486,7.661,2.475z"/>

  		<polyline style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
  		13.22,4.932 11.541,11.202 5.27,9.522 	"/>

  		<polyline style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
  		17.44,8.118 15.005,17.205 5.917,14.771 	"/>

  		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="17" y1="20.66" x2="7" y2="3.34"/>
  </g>
  </svg>
      </symbol>
      <symbol id="icon-delivery" viewBox="0 0 28 28" stroke="currentColor" stroke-width="1.2" fill="none"
          stroke-linecap="round" stroke-linejoin="round">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	  viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
  <g>
  	<defs>
  		<rect id="SVGID_1_" width="24" height="24"/>
  	</defs>
  	<clipPath id="SVGID_2_">
  		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
  	</clipPath>

  		<path style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
  		M4.79,18.011H3.967c-1.105,0-2-0.896-2-2V6.494c0-1.104,0.895-2,2-2h9.78c1.104,0,2,0.896,2,2v6.901"/>

  		<path style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
  		M15.747,8.187h2.787c0.362,0,0.705,0.169,0.925,0.458l2.258,2.96c0.233,0.306,0.36,0.681,0.36,1.065v5.009
  		c0,0.111-0.09,0.2-0.2,0.2h-3.05"/>

  		<circle style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="16.512" cy="17.817" r="2.238"/>

  		<circle style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="7.018" cy="17.817" r="2.238"/>

  		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#51534A;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="14.285" y1="17.944" x2="9.145" y2="17.944"/>
  </g>
  </svg>
      </symbol>
</svg>
<div id="wide-nav">
  <div class="wide-nav-container">
    <div class="wide-nav-row">
      <div class="col-4">
        <div class="wide-nav-item">
          <div class="inner-image">
            <svg class="wide-nav-image" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-molecule"></use>
            </svg>
          </div>
          <div class="inner-text">
            <h6 class="thin-font">Scientifically backed ingredients</h6>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="wide-nav-item b-center">
          <div class="inner-image">
            <svg class="wide-nav-image" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-leaf"></use>
            </svg>
          </div>
          <div class="inner-text">
            <h6 class="thin-font">Doctor developed, naturopath approved</h6>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="wide-nav-item b-right">
          <div class="inner-image">
            <svg class="wide-nav-image" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-delivery"></use>
            </svg>
          </div>
          <div class="inner-text">
            <h6 class="thin-font">
              <strong>Free</strong> International shipping over<span
                style="color: #ffeadb;"
                >·</span
              >$150
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #wide-nav {
    width: 100%;
    background-color: #ffeadb;
    font-family: Poppins, sans-serif;
  }

  #wide-nav h6 {
    margin: 0px;
    font-weight: 300;
    font-size: 0.75em;
    font-family: Poppins, sans-serif;
  }

  .wide-nav-container {
    max-width: 1646px;
    margin: auto;
    padding: 2px 0px;
  }

  .wide-nav-row {
    display: flex;
    padding: 0 15px;
  }

  .wide-nav-row .col-4 {
    width: 33.333%;
    padding: 0 15px;
  }

  .wide-nav-item {
    display: flex;
  }

  .wide-nav-item.b-center {
    justify-content: center;
  }
  .wide-nav-item.b-right {
    justify-content: end;
  }
  .wide-nav-item .inner-image {
    margin-right: 15px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wide-nav-item .inner-image svg {
    width: 100%;
    height: 100%;
  }

  .wide-nav-item .inner-text {
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 300;
    color: #51534a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wide-nav-item .inner-text h6 strong {
    font-weight: 700 !important;
  }

  @media (max-width: 1440px) {
    .wide-nav-item .inner-image svg {
      width: 28px;
      height: 28px;
    }
    .wide-nav-container {
      max-width: 1228px;
    }
  }

  @media (max-width: 850px) {
    #wide-nav {
      display: none;
    }
  }
</style>
