{% schema %}
  {
    "name": "Affiliate Registration",
    "settings": []
  }
{% endschema %}

<div class="affiliate-registration affiliate-section ">
    <div class="t4s-container">
        <div class="col-inner">
            <div id="page-header-1214067161" class="page-header-wrapper">
                <div class="page-title light divided-title">                      
                    <div class="page-title-inner container align-center flex-row medium-flex-wrap">
                        <div class="title-wrapper uppercase flex-col text-left medium-text-center">
                            <h1 class="entry-title mb-0">
                                Affiliate Registration </h1>
                        </div>
                        <div class="title-content flex-col flex-right text-right medium-text-center">
                        </div>
                    </div>
                </div>
                <div class="container header-wrapper-divider">
                    <hr>
                </div>
            </div>
            <form id="leaddyno-affiliate-register-form" class="leaddyno-form" action="" method="POST"
                enctype="multipart/form-data">
                <div class="leaddyno-user-notice">
                    <!-- <p>You are not enrolled in our affiliate program. Please fill out the form below to apply.</p> -->
                </div>
                <div class="leaddyno-field-wrapper" data-type="text">
                    <div class="leaddyno-field-label-wrapper">
                        <label for="leaddyno-user-login">
                            Username
                            <span class="leaddyno-field-required-marker">*</span>
                        </label>
                    </div>
                    <div class="leaddyno-field-inner">
                        <input type="text" id="leaddyno-user-login" name="user_login" value="an_cheng" placeholder=""
                            required="" disabled="">
                    </div>
                </div>
                <div class="leaddyno-field-wrapper" data-type="text">
                    <div class="leaddyno-field-label-wrapper">
                        <label for="leaddyno-first-name">
                            First Name
                            <span class="leaddyno-field-required-marker">*</span>
                        </label>
                    </div>
                    <div class="leaddyno-field-inner">
                        <input type="text" id="leaddyno-first-name" name="first_name" value="An" placeholder="" required=""
                            disabled="">
                    </div>
                </div>
                <div class="leaddyno-field-wrapper" data-type="text">
                    <div class="leaddyno-field-label-wrapper">
                        <label for="leaddyno-last-name">
                            Last Name
                            <span class="leaddyno-field-required-marker">*</span>
                        </label>
                    </div>
                    <div class="leaddyno-field-inner">
                        <input type="text" id="leaddyno-last-name" name="last_name" value="Cheng" placeholder="" required=""
                            disabled="">
                    </div>
                </div>
                <div class="leaddyno-field-wrapper" data-type="email">
                    <div class="leaddyno-field-label-wrapper">
                        <label for="leaddyno-user-email">
                            Email
                            <span class="leaddyno-field-required-marker">*</span>
                        </label>
                    </div>
                    <div class="leaddyno-field-inner">
                        <input type="email" id="leaddyno-user-email" name="user_email" value="acu11988@gmail.com"
                            placeholder="" required="" disabled="">
                    </div>
                </div>
                <div class="leaddyno-field-wrapper" data-type="email">
                    <div class="leaddyno-field-label-wrapper">
                        <label for="leaddyno-payment-email">
                            Payment Email
                            <span class="leaddyno-field-required-marker">*</span>
                        </label>
                    </div>
                    <div class="leaddyno-field-inner">
                        <input type="email" id="leaddyno-payment-email" name="payment_email" value="" placeholder=""
                            required="">
                    </div>
                </div>
                <div class="leaddyno-field-wrapper" data-type="url">
                    <div class="leaddyno-field-label-wrapper">
                        <label for="leaddyno-website">
                            Website
                        </label>
                    </div>
                    <div class="leaddyno-field-inner">
                        <input type="url" id="leaddyno-website" name="website" value="" placeholder="">
                    </div>
                </div>
                <div class="leaddyno-field-wrapper" data-type="textarea">
                    <div class="leaddyno-field-label-wrapper">
                        <label for="leaddyno-promotional-methods">
                            How will you promote us?
                            <span class="leaddyno-field-required-marker">*</span>
                        </label>
                    </div>
                    <div class="leaddyno-field-inner">
                        <textarea id="leaddyno-promotional-methods" name="promotional_methods" placeholder=""
                            required=""></textarea>
                    </div>
                </div>
                <div class="leaddyno-field-wrapper leaddyno-field-wrapper-terms-and-conditions">
                    <div class="leaddyno-field-label-wrapper">
                        <input id="leaddyno-terms-and-conditions" name="terms_conditions" type="checkbox" value="1">
                        <label for="leaddyno-terms-and-conditions"><a
                                href="/affiliate-program-terms-and-conditions/"
                                target="_blank">Please agree to our Terms and Conditions</a></label>
    
                    </div>
    
                </div>
                <input type="hidden" name="leaddyno_hnp" autocomplete="off" value="">
                <input type="hidden" name="leaddyno_action" value="register_affiliate">
                <input type="hidden" id="leaddyno_token" name="leaddyno_token" value="8bde948bd3">
                <!-- Redirect URL -->
                <input type="hidden" name="redirect_url" value="">
                <!-- Submit -->
                <a class="leaddyno-button-primary button primary" value="Register">Register</a>
    
            </form>
    
    
        </div>
    </div>
</div>