{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign se_blocks = section.blocks
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  if stt_layout == 't4s-se-container' 
    assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
  elsif stt_layout == 't4s-container-wrap'
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif
  assign layout_des = se_stts.layout_des
  assign image_ratio = se_stts.image_ratio
  if image_ratio == "ratioadapt"
    assign imgatt = ''
   else 
    assign imgatt = 'data-'
  endif
  assign use_pagination = se_stts.use_pagination 
  assign sett_equal = se_stts.use_eq_height
  assign show_vendor = se_stts.show_vendor
  assign use_link_vendor = settings.use_link_vendor
  assign enable_rating = settings.enable_rating
  assign inc_pr = se_stts.pr_des
  assign limit = se_stts.limit
  assign product_des = se_stts.product_des
  assign nt_filter = 'nt_filter'

  assign collection = collections[settings.search_prs_suggest]
  assign show_search_suggest = settings.show_search_suggest
  
  assign isHasCollection = false
  assign show_img = settings.show_img
  assign isGrowaveWishlist = false
  if settings.wishlist_mode == "3" and shop.customer_accounts_enabled
    assign isGrowaveWishlist = true
  endif
  assign enable_pr_size = settings.enable_pr_size
  assign pr_size_pos = settings.pr_size_pos
  assign show_size_type = settings.show_size_type
  assign size_ck = settings.size_ck | append: ',size,sizes,Größe' 
  assign get_size = size_ck | downcase | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq

  assign enable_pr_color = settings.enable_pr_color
  assign show_cl_type = settings.show_color_type
  assign color_ck = settings.color_ck | append: ',color,colors,couleur,colour'
  assign get_color = color_ck | downcase | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq

  assign price_varies_style = settings.price_varies_style
  assign app_review = settings.app_review
  assign use_countdown = se_stts.use_cdt
  
  assign txt_cd = 'products.grid_items.offer_end_in' | t
  assign show_list = se_stts.show_list
  assign show_list_btns = false
  unless request.page_type != 'collection' and se_stts.show_list
  assign show_list = false
  endunless
  if show_list and settings.enable_atc or settings.enable_quickview 
  assign show_list_btns = true
  endif

  assign isLoadmore = false
  if layout_des != "2"
    if use_pagination == "load-more"  or use_pagination == "infinite" 
      assign isLoadmore = true
      assign typeAjax = 'LmDefault'
    else
      assign typeAjax = 'AjaxDefault'
    endif
  else
     if use_pagination == "load-more" or use_pagination == "infinite" 
      assign isLoadmore = true
      assign typeAjax = 'LmIsotope'
    else
      assign typeAjax = 'AjaxIsotope'
    endif
  endif
  assign enable_bar_lm = se_stts.enable_bar_lm
  assign results_count = search.results_count 
  assign IsNoTypeProduct = false
  unless sea_types contains 'product'
    assign IsNoTypeProduct = true 
  endunless
	assign only_search_prs = settings.only_search_prs
  if search.terms contains 'product_type:'
   assign arr_terms = search.terms | remove: 'product_type:' | replace_first: ' ', 'ntt4s' | split: 'ntt4s'
   assign search_terms = arr_terms[1] | strip | remove: '*'
   assign product_type = arr_terms[0] | strip
  endif
  unless search_terms != blank 
    assign search_terms = search.terms
  endunless 
  assign on_sale_txt = 'products.product.on_sale' | t
  assign save_js = 'products.product.save_js' | t: saved_amount: 'saved_amount'

  assign sea_results = search.results
  assign sea_types_size = search.types.size
  if sea_types_size > 1
    assign sea_results = sea_results | where: "object_type","product"
  endif 

  assign enable_listing = se_stts.enable_listing
  assign enable_listing_default = se_stts.enable_listing_default
  assign show_list_btns = false
  if enable_listing and settings.enable_atc or settings.enable_quickview 
  assign show_list_btns = true
  endif
  if enable_listing and enable_listing_default
   assign class_listview = 'is--listview'
  endif
  assign col_mobile = se_stts.col_mb
  assign col_tablet = se_stts.col_tb
  assign col_desktop = se_stts.col_dk 
  assign cart_collection_items_per_row = cart.attributes.collection_items_per_row
  assign collection_items_per_row = cart_collection_items_per_row | split: '.'
  assign search_types = search.types
  if search_types.size == 1 and search_types.first == 'article' or search_types.first == 'page'
    assign isProduct = false
  elsif search_types.size == 2 and search_types contains 'article' and search_types contains 'page'
    assign isProduct = false
  else 
    assign isProduct = true
  endif
  assign se_blocks_type = section.blocks | map: "type"
 -%}

<div class="t4s-container">
    <div class="search-result-section">
        {%- liquid
            render 'product-grid-custom-item' for search.results as product, isGrowaveWishlist: isGrowaveWishlist, show_img: show_img, show_vendor: show_vendor, use_link_vendor: use_link_vendor, enable_pr_color: enable_pr_color, show_cl_type: show_cl_type, get_color:get_color, enable_pr_size: enable_pr_size, pr_size_pos: pr_size_pos, get_size: get_size, show_size_type: show_size_type, price_varies_style: price_varies_style, app_review: app_review, enable_rating: enable_rating, use_countdown: use_countdown, imgatt: imgatt, show_list_btns: false    
        -%}
    </div>
</div>

{% schema %}
{
  "name": "Search page",
  "tag": "section",
  "class": "t4s-section t4s-section-main t4s-search-page t4s_tp_istope",
  "settings": [
    {
      "type": "header",
      "content": "1. General options"
    },
    {
      "type": "select",
      "id": "product_des",
      "options": [
        {
          "value": "1",
          "label": "Design 1"
        },
        {
          "value": "2",
          "label": "Design 2"
        },
        {
          "value": "3",
          "label": "Design 3"
        },
        {
          "value": "4",
          "label": "Design 4"
        },
        {
          "value": "5",
          "label": "Design 5"
        },
        {
          "value": "6",
          "label": "Design 6"
        },
        {
          "value": "7",
          "label": "Design 7"
        },
        {
          "value": "8",
          "label": "Design 8"
        },
        {
          "value": "9",
          "label": "Design 9"
        },
        {
          "value": "10",
          "label": "Custom Design"
        }

      ],
      "label": "Product item design",
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendors",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "use_cdt",
      "label": "Show product countdown",
      "default": false
    },
    {
      "type": "header",
      "content": "+ Options image products"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image ratio",
      "default": "rationt",
      "info": "Aspect ratio custom will settings in general panel",
      "options": [
        {
          "group": "Natural",
          "value": "ratioadapt",
          "label": "Adapt to image"
        },
        {
          "group": "Landscape",
          "value": "ratio2_1",
          "label": "2:1"
        },
        {
          "group": "Landscape",
          "value": "ratio16_9",
          "label": "16:9"
        },
        {
          "group": "Landscape",
          "value": "ratio8_5",
          "label": "8:5"
        },
        {
          "group": "Landscape",
          "value": "ratio3_2",
          "label": "3:2"
        },
        {
          "group": "Landscape",
          "value": "ratio4_3",
          "label": "4:3"
        },
        {
          "group": "Landscape",
          "value": "rationt",
          "label": "Ratio ASOS"
        },
        {
          "group": "Squared",
          "value": "ratio1_1",
          "label": "1:1"
        },
        {
          "group": "Portrait",
          "value": "ratio2_3",
          "label": "2:3"
        },
        {
          "group": "Portrait",
          "value": "ratio1_2",
          "label": "1:2"
        },
        {
          "group": "Custom",
          "value": "ratiocus1",
          "label": "Ratio custom 1"
        },
        {
          "group": "Custom",
          "value": "ratiocus2",
          "label": "Ratio custom 2"
        },
        {
          "group": "Custom",
          "value": "ratio_us3",
          "label": "Ratio custom 3"
        },
        {
          "group": "Custom",
          "value": "ratiocus4",
          "label": "Ratio custom 4"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "default": "cover",
      "info": "This settings apply only if the image ratio is not set to 'Adapt to image'",
      "options": [
        {
          "value": "cover",
          "label": "Full"
        },
        {
          "value": "contain",
          "label": "Auto"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_position",
      "info": "The first value is the horizontal position and the second value is the vertical. This settings apply only if the image ratio is not set to 'Adapt to image'",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Left top"
        },
        {
          "value": "2",
          "label": "Left center"
        },
        {
          "value": "3",
          "label": "Left bottom"
        },
        {
          "value": "4",
          "label": "Right top"
        },
        {
          "value": "5",
          "label": "Right center"
        },
        {
          "value": "6",
          "label": "Right bottom"
        },
        {
          "value": "7",
          "label": "Center top"
        },
        {
          "value": "8",
          "label": "Center center"
        },
        {
          "value": "9",
          "label": "Center bottom"
        }
      ],
      "label": "Image position",
      "default": "8"
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "Product content align",
      "default": "default",
      "options": [
        {
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ]
    },
    {
      "type": "range",
      "id": "limit",
      "min": 1,
      "max": 50,
      "step": 1,
      "label": "Maximum products to show",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "enable_listing",
      "label": "Enable list switch",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_listing_default",
      "label": "Set list view as default",
      "default": false
    },
    {
      "type": "select",
      "id": "col_dk",
      "label": "Items per row",
      "default": "4",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_tb",
      "label": "Items per row (Tablet)",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_mb",
      "label": "Items per row (Mobile)",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "space_h_item",
      "options": [
        {
          "value": "0",
          "label": "0"
        },
        {
          "value": "2",
          "label": "2px"
        },
        {
          "value": "4",
          "label": "4px"
        },
        {
          "value": "6",
          "label": "6px"
        },
        {
          "value": "8",
          "label": "8px"
        },
        {
          "value": "10",
          "label": "10px"
        },
        {
          "value": "15",
          "label": "15px"
        },
        {
          "value": "20",
          "label": "20px"
        },
        {
          "value": "30",
          "label": "30px"
        }
      ],
      "label": "Space horizontal items",
      "default": "30"
    },
    {
      "type": "select",
      "id": "space_v_item",
      "options": [
        {
          "value": "0",
          "label": "0"
        },
        {
          "value": "2",
          "label": "2px"
        },
        {
          "value": "4",
          "label": "4px"
        },
        {
          "value": "6",
          "label": "6px"
        },
        {
          "value": "8",
          "label": "8px"
        },
        {
          "value": "10",
          "label": "10px"
        },
        {
          "value": "15",
          "label": "15px"
        },
        {
          "value": "20",
          "label": "20px"
        },
        {
          "value": "30",
          "label": "30px"
        }
      ],
      "label": "Space vertical items",
      "default": "30"
    },
    {
      "type": "select",
      "id": "space_h_item_mb",
      "options": [
        {
          "value": "0",
          "label": "0"
        },
        {
          "value": "2",
          "label": "2px"
        },
        {
          "value": "4",
          "label": "4px"
        },
        {
          "value": "6",
          "label": "6px"
        },
        {
          "value": "8",
          "label": "8px"
        },
        {
          "value": "10",
          "label": "10px"
        },
        {
          "value": "15",
          "label": "15px"
        },
        {
          "value": "20",
          "label": "20px"
        },
        {
          "value": "30",
          "label": "30px"
        }
      ],
      "label": "Space horizontal items (Mobile)",
      "default": "10"
    },
    {
      "type": "select",
      "id": "space_v_item_mb",
      "options": [
        {
          "value": "0",
          "label": "0"
        },
        {
          "value": "2",
          "label": "2px"
        },
        {
          "value": "4",
          "label": "4px"
        },
        {
          "value": "6",
          "label": "6px"
        },
        {
          "value": "8",
          "label": "8px"
        },
        {
          "value": "10",
          "label": "10px"
        },
        {
          "value": "15",
          "label": "15px"
        },
        {
          "value": "20",
          "label": "20px"
        },
        {
          "value": "30",
          "label": "30px"
        }
      ],
      "label": "Space vertical items (Mobile)",
      "default": "10"
    },
    {
      "type": "select",
      "id": "layout_des",
      "options": [
        {
          "value": "1",
          "label": "Grid"
        },
        {
          "value": "2",
          "label": "Masonry"
        }
      ],
      "label": "Layout design",
      "default": "1"
    },
    {
      "type": "header",
      "content": "Pagination options"
    },
    {
      "type": "select",
      "id": "use_pagination",
      "label": "Pagination",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "load-more",
          "label": "'Load more' button"
        },
        {
          "value": "infinite",
          "label": "Infinit scrolling"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_bar_lm",
      "label": "Enable progress bar?",
      "info": "Only active when you use 'Load more' or 'Infinit scrolling'",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Page-loading speed is everything for good user experience. Multiple researches have shown that slow load times result in people leaving your site or delete your app which result in low conversion rates. And that’s bad news for those who use an infinite-scrolling. The more users scroll down a page, more content has to load on the same page. As a result, the page performance will increasingly slow down."
    },
    {
      "type": "paragraph",
      "content": "Another problem is limited resources of the user’s device. On many infinite scrolling sites, especially those with many images, devices with limited resources (such as mobile devices or tablets with dated hardware) can start slowing down because of the sheer number of assets it has loaded."
    },
    {
      "type": "paragraph",
      "content": "Therefore, we recommend that you only use 'Load more', 'Infinite scrolling' for when your collection is less than or equal to 400 products"
    },
    {
      "type": "checkbox",
      "id": "btn_icon",
      "label": "Enable button icon",
      "default": false
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Bordered bottom",
          "value": "bordered"
        },
        {
          "label": "Link",
          "value": "link"
        }
      ]
    },
    {
      "type": "select",
      "id": "btns_size",
      "label": "Button size",
      "default": "large",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Extra-mall",
          "value": "extra-small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Extra-medium",
          "value": "extra-medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra large",
          "value": "extra-large"
        }
      ]
    },
    {
      "type": "select",
      "id": "btns_cl",
      "label": "Button color",
      "default": "dark",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "custom1",
          "label": "Custom color 1"
        },
        {
          "value": "custom2",
          "label": "Custom color 2"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_effect",
      "label": "Button hover effect",
      "default": "default",
      "info": "Only working button style default, outline",
      "options": [
        {
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Fade",
          "value": "fade"
        },
        {
          "label": "Rectangle out",
          "value": "rectangle-out"
        },
        {
          "label": "Sweep to right",
          "value": "sweep-to-right"
        },
        {
          "label": "Sweep to left",
          "value": "sweep-to-left"
        },
        {
          "label": "Sweep to bottom",
          "value": "sweep-to-bottom"
        },
        {
          "label": "Sweep to top",
          "value": "sweep-to-top"
        },
        {
          "label": "Shutter out horizontal",
          "value": "shutter-out-horizontal"
        },
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Shadow",
          "value": "shadow"
        }
      ]
    },
    {
      "type": "select",
      "id": "btn_pos",
      "label": "Button position",
      "default": "t4s-text-center",
      "options": [
        {
          "value": "t4s-text-start",
          "label": "Left"
        },
        {
          "value": "t4s-text-center",
          "label": "Center"
        },
        {
          "value": "t4s-text-end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "2. Design options"
    },
    {
      "type": "select",
      "id": "layout",
      "default": "t4s-container-wrap",
      "label": "Layout",
      "options": [
        {
          "value": "t4s-se-container",
          "label": "Container"
        },
        {
          "value": "t4s-container-wrap",
          "label": "Wrapped container"
        },
        {
          "value": "t4s-container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "color",
      "id": "cl_bg",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "cl_bg_gradient",
      "label": "Background gradient"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "mg",
      "label": "Margin",
      "info": "Margin top, margin right, margin bottom, margin left. If you not use to blank",
      "default": ",,50px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd",
      "label": "Padding",
      "info": "Padding top, padding right, padding bottom, padding left. If you not use to blank",
      "placeholder": "50px,,50px,"
    },
    {
      "type": "header",
      "content": "+ Design Tablet Options"
    },
    {
      "type": "text",
      "id": "mg_tb",
      "label": "Margin",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_tb",
      "label": "Padding",
      "placeholder": ",,50px,"
    },
    {
      "type": "header",
      "content": "+ Design mobile options"
    },
    {
      "type": "text",
      "id": "mg_mb",
      "label": "Margin",
      "default": ",,30px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_mb",
      "label": "Padding",
      "placeholder": ",,50px,"
    }
  ],
  "blocks": [
    {
      "type": "sortby",
      "name": "Sortby",
      "limit": 1
    },
    {
      "type": "layout",
      "name": "Layout switch",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Not working with layout masonry"
        }
      ]
    },
    {
      "type": "filter",
      "name": "Filter",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "style_filters",
          "label": "Filter style will show after click button filter ( desktop )",
          "default": "sidebar",
          "options": [
            {
              "value": "sidebar",
              "label": "Hidden sidebar"
            },
            {
              "value": "area",
              "label": "Filters area"
            }
          ]
        },
        {
          "type": "paragraph",
          "content": "On mobile always use hidden sidebar"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "filter"
      },
      {
        "type": "layout"
      },
      {
        "type": "sortby"
      }
    ]
  }
}
{% endschema %}