{% schema %}
  {
    "name": "One Text",
    "settings": []
  }
{% endschema %}

<p style="margin-top: 5px; text-align: center; font-size: 0.95em; font-weight: 400; font-family: 'Nunito Sans', sans-serif; color: rgb(81, 83, 74)"><strong>FREE</strong> International shipping over $150</p>