
{% schema %}
  {
    "name": "Read More Accordion",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Read More Accordion"
      }
    ]
  }
{% endschema %}

<div class="section-bolck" style="padding: 0 15px;">
    <div class="t4s-container" style="padding: 50px 0; max-width: 1410px;">
        <div class="t4s-container-inner ">
            <div class="row row-collapse align-center">
                    <div class="read-more-accordion">
                        <a><span>READ MORE</span></a>
                    </div>
                    <div class="read-more-accordion-content" style="color: rgb(81, 83, 74);
    font-size: 16px; font-size: 1em;">
                        <h5>Finding the right solution for IBS, IBS-C, and IBS-D can be really challenging.</h5>
<p>The gut is complex, and there&#8217;s usually more than one factor at play causing those IBS symptoms. That is why at FixBIOME, we take a multifaceted approach that focuses on addressing IBS from multiple angles.</p>
<p>We create our product based on the clinical literature, with doctors and naturopaths that specialise in gut health. We use formulation experts and advanced technical processes to produce a system that is designed for the gut.</p>
<p>Some common questions we get are:<br />What is the best approach to IBS? What is the best herbal supplement for IBS? What is the best natural supplement for IBS? What is the best digestive supplement for IBS? What is the best enzyme supplement for IBS? What is the best fibre supplement for IBS, and should you even take one? What are the best natural ingredients for IBS? Is there a supplement for IBS and anxiety? Why are IBS and anxiety linked? Can IBS cause food intolerances that can be fixed if we fix our gut microbiota?</p>
<p>We will try to provide some answers for some of these, but the problem you&#8217;re looking for a solution to is complex.</p>
<h5>Fibre supplements for IBS-D?</h5>
<p>We see this a lot.</p>
<p>Adding a fibre supplement for IBS with diarrhea (IBS-D) isn&#8217;t often the best supplement option.</p>
<p>We understand that it might seem like a logical solution to &#8216;bulk you up&#8217;, but the cause of IBS-D and the associated diarrhea is usually not caused by a lack of fibre. In fact, adding a fibre supplement can sometimes make it worse. The issue tends to be much more complex than that.</p>
<p>The <a href="https://shop.fixbiome.com/product/sibo-pack-sibo-and-candida-6-8-week-course/"><strong>6-8 week course</strong></a> has proven successful for many customers at addressing IBS-D by addressing the underlying imbalances in the microbiome leading to loose bowel movements.</p>
<p>The multifaceted approach to the microbiota has seen many people with loose stools become solid and regular for the first time in years. Likewise, the 6-8 week course  has helped many people that suffer from IBS with constipation (IBS-C) also move more regularly.</p>
<h5>Stool softener for IBS-C or constipation?</h5>
<p>Another question we see floating around a lot.</p>
<p>A stool softener will work at a baseline level to soften your stool while you take it. It does this by acting as an emollient or surfactant laxative.</p>
<p>Simply put, it either:<br />1) forces your body to pull more water into your stool<br />2) forces your body to pull more fat into your stool.</p>
<p>Both methods for IBS-C will likely work temporarily, but the underlying issue is not resolved.</p>
<p>Some common underlying causes of IBS-C include motility issues, imbalance in bacteria, dysbiosis, overgrowth of bacteria/archaea fungal overgrowth (most often candida overgrowth/SIFO), poor gut function, migrating motor complex issues, and so on. All these issues are not addressed with a laxative or stool softener.</p>
<h5>Probiotics and IBS</h5>
<p>Probiotics have a place, but some gut experts believe probiotics are becoming very much over and inappropriately used due to the increased marketing efforts over the last few years.</p>
<p>Don&#8217;t get us wrong; there is some evidence to suggest they can be helpful in very particular applications. However, the idea that everyone should take a generic probiotic daily and this should be the same as the person next to them is a bit misguided.</p>
<h5>Our gut is unique</h5>
<p>We all have incredibly unique gut microbiomes that work very hard to keep us in a state of equilibrium for our unique genetics, diet, and what we are exposed to.</p>
<p>As an example, someone in Australia should have a different gut microbiome than someone in the UK or Japan.</p>
<p>We require different organisms to best live in a state of homeostasis, not just within our body but with our environment and the many other organisms we come to interact with daily based on geographical location, diet and lifestyle.</p>
<p>Shifts in the gut and new exposures when travelling are often why we can experience temporary disturbances in digestion when we go overseas. That&#8217;s also the same reason someone local can eat street food, but it might make a tourist very sick. Travelers travelers diarrhea is a very common phenomenon.</p>
<p>Our gut adapts to our environment to best serve and protect us.</p>
<p>As a whole, our body and gut microbiota always want to find a state of homeostasis and find a healthy equilibrium. That&#8217;s their job but sometimes stuff happens and the natural mechanisms for doing this are not working correctly.</p>
<p><strong>Fun fact:</strong> Did you know research has found you can detect the region of the world a person is living in from their gut? Your gut should be as unique as you to function at its best.</p>
<h5>Natural ingredients for gut health</h5>
<p>We believe in using natural, clinically proven ingredients and herbals to influence how the gut functions and promote a healthy balance in the microbiome/microbiota.</p>
<p>We don&#8217;t aimlessly introduce new bacteria strains in the 6-8 week course when we can&#8217;t even be sure it will make it to the right place in your gut yet.</p>
<p>Let&#8217;s take this example: imagine if you currently have a poorly functioning MMC, or gut motility which many people with IBS do.</p>
<p>The MMC (migrating motor complex) is the wave-like motion that acts as the house cleaner for the small intestine moving through every 90 minutes.</p>
<p>The MMC can slow down due to stress, diet, food poisoning (that happened in the past), illness, medications, hormones and many other factors.</p>
<p>In this case, a person could take a probiotic and accidentally populate their small intestine instead of your large intestine if the bacteria don&#8217;t make it down steam enough.</p>
<p>That can cause a host of issues. In this case, you would likely end up worse off than when you started.</p>
<h5>A diverse micrbiome / microbiota</h5>
<p>Think of your gut like a rainforest. It needs lots of things to be healthy, and cutting down or putting in too many of anything can have a chain reaction that can be undesirable.</p>
<p>Your guts actually incredibly good at repopulating/reshuffling based on your exposures and when it’s healthy, it will get to work doing this rapidly. When it’s not, it will struggle.</p>
<h5>Is all &#8216;good bacteria&#8217; good and &#8216;bad bacteria&#8217; bad?</h5>
<p>In your gut, you have lots of little tribes or colonies of organisms living with each other. Too much of one, even those deemed &#8216;good bacteria&#8217;, can be bad. Not because they are &#8216;bad bacteria&#8217; within themselves but because too much of one can cause the rest of your tribe to become out of whack.</p>
<p>In the gut, one type of bacteria strain can take up too much space, causing other beneficial bacteria to pack their things and hide away because they no longer fit in the ecosystem.</p>
<p>Bacteria are smart, living and adaptable organisms that want to survive. They will not hang around if there is no place for them. That is why a diverse, healthy microbiome and gut function is very important.</p>
<h5>The gut and immune system</h5>
<p>Did you know 70% of the immune system is in the gut?</p>
<p>A healthy, diverse and well-functioning gut and microbiota means when we come into contact with nasty introducers, our natural defence mechanisms work (of which there are many), and our gut population is strong enough to say, no go away, attack! Attack! You don&#8217;t belong here with us, I don&#8217;t like the look of you, go away!</p>
<p>That is a very simplistic view of things, but hopefully, you get the point. We can help our gut microbiome stay and get back in check by using natural herbal ingredients to influence our gut and how it&#8217;s keeping things in balance.</p>
<p>The 6-8 week course aims to go in and help put in a new governing system and build a better city to create more peace and balance and get everyone living in the right place where they can do their job.</p>
<p>Sometimes the natural ingredients for gut health might have to kick some overpopulating bacteria out to create a more favourable environment for less powerful colonies to grow strong. The natural ingredients are also designed to do some damage control over the harmful &#8216;parties&#8217; or &#8216;wars&#8217; the old set-up in your gut was causing, and that&#8217;s an important factor that we include very specific ingredients and processesing practices for.</p>
<h5>Keeping the city structurally sound to support a healthy population</h5>
<p>We can also help keep our gut healthy by focusing on the structural integrity of the gut.</p>
<p>That lets us create a nice living environment where things can be balanced, and a healthy population will thrive.</p>
<p>It&#8217;s very hard to have a healthy population if your city is full of trash, weeds, broken pipes, broken sewage system, and the houses have holes in the walls.</p>
<p>The 6-8 week course aims to support a healthy living environment by providing our gut with the things needed to power the gut to work as it should.</p>
<h5>Prokinetic</h5>
<p><a href="/product/sibo-pack-sibo-and-candida-6-8-week-course/"><strong>FixBIOME&#8217;s course</strong></a> contains natural prokinetic ingredients that help support the gut and stimulate the gut to function in a regular pattern. This is vital for addressing IBS with a holistic approach that&#8217;s often skipped. Natural prokinetic’s need to be carefully processed and stabilised and we take this into account.</p>
<h5>Food intolerances and IBS</h5>
<p>Did you know sometimes we become intolerant to food not because we are allergic/intolerant ourselves but because our gut is so out of whack we are having adverse reactions (that often involve things like histamine and DOA enzyme issues) to foods we could previously digest?</p>
<p>Some common secondary food intolerances include lactose and gluten intolerance (not caused by celiac disease or other medical conditions) and high FODMAP foods.</p>
<p>Some of these rely on neutralisers that are made in the gut and certain enzymes that can&#8217;t be made in unhealthy environments or when something is not working quite right.</p>
<p>Imbalances and overpopulations of bacteria in the wrong places can also cause fermentation in the gut by bacteria that, lead to gas, bloating and abdominal discomfort.</p>
<p>That process should be going on downstream, but sometimes it makes its way upstream for varying reasons, and you may need to stop this to address food intolerances from growing.</p>
<p>A good rule of thumb is, &#8216;Could I eat this as a child before I had IBS?&#8217; If the answer is yes, then your microbiome could likely use some work.</p>
<p>The 6-8 week course uses ingredients that support a balanced microbiota in the right places and aims to help you achieve food freedom. Food should be a source of nourishment and enjoyment, not a source of anxiety and pain!</p>
<h5>Anxiety and IBS supplements</h5>
<p>Did you know IBS and gut issues can increase the risk of anxiety and depression? The brain-gut axis is very powerful. We love seeing our customers improve their gut health, overall quality of life, and mental health.</p>
<h5>The gut and serotonin</h5>
<p>Did you know that up to 95% of serotonin is made in the gut? Serotonin is the neurotransmitter that is responsible for regulating mood and contributes to our feeling of well-being and happiness.</p>
<p>That isn&#8217;t the only way our gut affects our mental health and minds.</p>
<p>The gut is in constant communication with our brain, and some have even started to call it the &#8216;second brain&#8217; because of just how powerful it is.</p>
<p>Studies have found it influences all kinds of things like our cravings, food preferences, motivation and focus.</p>
<h5>Herbal supplements for IBS</h5>
<p><strong>At FixBIOME, we believe in the power of natural ingredients for gut health and use a number of clinically proven natural ingredients for things like: IBS, SIBO (small intestinal bacterial overgrowth), SIFO (small intestinal fungal overgrowth), Candida overgrowth, gut microbiota rebalancing, leaky gut (intestinal permeability), tight junction malfunction, DOA deficiency/issues, histamine intolerance, motility issues, constipation, diarrhea, IBS-C and IBS-D to name a few.</strong></p>
<p>We take a very multifaceted approach because that’s what’s needed.</p>
<p>Our supplements have been carefully selected and formulated by experts using a proprietary method and blend based on the team&#8217;s research.</p>
<p>We screen ingredients for quality.</p>
<p>When dealing with natural ingredients, everything from their source to the soil where they were grown and in what season matters.</p>
<p>How they are processed, encapsulated and so on will also directly impact how they function in the gut.</p>
<p>The gut is very complex, and there are lots to consider.</p>
<p><strong>Our natural ingredients for gut health and IBS include Red thyme oil, Oregano oil, Peppermint oil, Sage leaf, Lemon balm leaf, Berberine HCL, Chinese Rhubarb root and rhizome, Indian barberry root, DGL licorice, Chinese skullcap root, Coptis root and Rhizome, Ginger rhizome, Dill seed, Neem leaf, L-Glutamine, Marshmallow root, Deglycyrrhizinated Licorice Root, Quercetin Dihydrate.</strong></p>
		
                        
                    </div>
            </div>
        </div>
    </div>
</div>


<style>
    .read-more-accordion {
        cursor: pointer;
        height: 50px;
        padding-left: 20px;
        padding: 0 15px;
        padding-right: 10px;
        text-align: center;
    }

    .read-more-accordion-content {
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
        font-size: 0.9em;
    }

    .read-more-accordion-content h5 {
      font-weight: 700;
      margin-bottom: 8px;
      font-family: Poppins, sans-serif;
    }

    .read-more-accordion-content p {
      font-family: "Nunito Sans", sans-serif;
    }

    .read-more-accordion a {
        font-family: 'Poppins';
      font-style: normal;
      color: #51534a;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: .15em;
      text-transform: uppercase;
    }

    .read-more-accordion.is-open {
      background-color: transparent;
    }
    
</style>
